.App {
  /* background-color: #282c34; */
  text-align: center;
  align-items: center;
  color: white;
  min-height: 100vh;
  display:flex;
  flex-direction: column;
}

html,body{ height:100%; }
body{
  background:#282c34;
  display: flex;
  /* flex-direction: row; */
}

.App-header {
  font-size: calc(10px + 1vmin);
  text-align: left;
  padding: 1em;
}

.App-AnswerBoxes {
  display: grid;
  margin: 2rem auto 0 auto;
  padding: 1em;
  align-items: right;
}

button {
  background: lightgrey;
  padding: 5px;
  width: 200px;
  /* width: 610px; */
  border: 0;
  border-radius:5px;
}

label {
  padding: 0.5em 0.5em 0.5em 0;
}

.form-input {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 400px;
  padding: 5px;
  font-size: 14px;
  display: block;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(black, .3);
  border-width: 0;
}

.result-table {
  text-align: right;
  padding: 5px;
  font-size: 14px;
  display: block;
}


.form-input.input-error {
  border-width: 2px;
  border-color: red;
}

tr {
  padding: 10px
}
td {
  padding: 2px
}

@media (min-width: 600px) {
  .App-AnswerBoxes {
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
  }

  label {
    grid-column: 1 / 2;
  }

  textarea,
  .result-table,
  button {
    grid-column: 2 / 3;
  }
}

.App-link {
  color: #61dafb;
}
