html, body {
  height: 100%;
}

body {
  background: #282c34;
  display: flex;
}

button {
  background: lightgrey;
  padding: 5px;
  width: 100px;
  border: 0;
  border-radius: 5px;
}

label {
  text-align: right;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

td {
  padding: 5px;
}

.App {
  text-align: center;
  align-items: center;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  font-size: calc(10px + 1vmin);
  text-align: left;
  padding: 1em;
}

.App-AnswerBoxes {
  display: grid;
  margin: 2rem auto 0 auto;
  padding: 1em;
  width: 600px;
  align-items: right;
}

.App-link {
  color: #61dafb;
}

.csv-upload-button {
  width: 50px
}

.csv-files {
  display: flex;
  flex-direction: column;
}

.csv-upload {
  display: grid;
  margin: 0px auto 0 auto;
  padding: 0em;
  width: 600px;
  align-items: right;
}

.css-ue4akr {
  vertical-align: middle;
}

.csvlabel, .csv-file, .csv-upload-container {
  vertical-align: top;
  text-align: left;
  margin: auto;
  padding: 5px;
}

.csv-submit {
  display: grid;
  padding: 5px;
}

.csv-submit-button {
  width: 100px;
}

.upload-icon {
  vertical-align: middle;
}

.form-input {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 400px;
  padding: 5px;
  font-size: 14px;
  display: block;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(black, .3);
  border-width: 0;
}

.result-table {
  text-align: right;
  padding: 5px;
  font-size: 14px;
  display: block;
  border-collapse: separate;
  border-spacing: 50px 0;
}

.form-input.input-error {
  border-width: 2px;
  border-color: red;
}

.csv-Output {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: auto;
  padding: 20px;
  font-size: 16px;
  color: #61dafb;
}

@media (min-width: 600px) {
  .App-AnswerBoxes {
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
  }
  .csv-upload {
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
  }
  .csv-submit {
    grid-template-columns: 200px 1fr;
  }
  label {
    grid-column: 1 / 2;
  }
  .csv-submit-button, textarea, .result-table, .csv-file, button {
    grid-column: 2 / 3;
  }
  .css-ue4akr, .csv-upload-container {
    grid-column: 3 /4
  }
}
